<h1><strong><%= current_user.username %>'s</strong> current roster.</h1>
<div class="flash-messages">
    <% if flash[:error] %>
        <%= flash[:error]  %>
    <% elsif flash[:success] %>
        <%= flash[:success]  %>
    <% end %>
</div>
    <div class="row">
        <% Roster.all.each do |roster|%>
            <% if roster.user_id == current_user.id && roster.champion_name != nil %>
                <div class="col-sm-6">
                    <img src="/images/champions/<%= roster.champion_name %>.webp" style="width: 8vw"><br>
                    <%= roster.champion_name %>
                    <input type="checkbox" name="roster[champions][<%= roster.champion_name %>][wanted]" id="wanted" value=need to fix this>
                </div>
                
            <% end %>
        <% end %>
    </div>

        <h3>
            <a href="/roster/new">New Roster &nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="/roster/<%= current_user.id %>/edit">Edit Roster</a>
            </h3>
<h2>Your Champions</h2>
    <form action="/roster/<%= current_user.id %>/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Roster">
    </form>