<h1><strong><%= current_user.username %>'s</strong> current roster.</h1>
<div class="flash-messages">
    <% if flash[:error] %>
        <%= flash[:error]  %>
        <% elsif flash[:success] %>
        <%= flash[:success]  %>
        <% end %>
        </div>
        <h2>Your Champions</h2>
        <% Roster.all.each do |roster|%>
 
            <div class="row">
            <% if roster.user_id == current_user.id && roster.notes != nil %>
                
                <div class="col-lg-3"><center>
                    <img src="/images/champions/<%= roster.champion_name %>.webp" style="width: 12vw"><br>
                    <%= roster.champion_name %></center>
                </div>
                <div class="col-lg-2">
                    <h5>1*  <% if roster.one_star == true %>
                            <%= "Collected" %>
                        <% else %>
                            <%= "    --    " %>
                        <% end %></h5>
                    <h5>2*  <% if roster.two_star == true %>
                            <%= "Collected" %>
                        <% else %>
                            <%= "    --    " %>
                        <% end %></h5>
                    <h5>3*  <% if roster.three_star == true %>
                        <%= "Collected" %>
                        <% else %>
                        <%= "    --    " %>
                        <% end %></h5>
                    <h5>4* <% if roster.four_star == true %>
                            <%= "Collected" %>
                        <% else %>
                            <%= "    --    " %>
                        <% end %></h5> 
                    <h5>5*  <% if roster.five_star == true %>
                            <%= "Collected" %>
                        <% else %>
                            <%= "    --    " %>
                        <% end %></h5>
                    <h5>6*  <% if roster.six_star == true %>
                            <%= "Collected" %>
                        <% else %>
                            <%= "    --    " %>
                        <% end %></h5><br>
                </div>
                <div class="col-lg-3"><br>
                    <h5><center>Favorite:   <% if roster.favorite == true %>
                                    <img src="/images/favorite.webp" style="width: 3vw">
                                <% else %>
                                    <img src="/images/not-favorite.png" style="width: 3vw">
                                <% end %></h5></center>
                    <h5><center>Most Wanted:   <% if roster.favorite == true %>
                                    <img src="/images/wanted.png" style="width: 3vw">
                                <% else %>
                                    <img src="/images/not-wanted.png" style="width: 3vw">
                                <% end %>    
                                </h5></center><br>        
                </div>
                <div class="col-lg-4">
                    Additional Notes: <% if roster.notes != "" %>
                    <p><%= roster.notes %></p>
                <% end %>
                </div>
            <% end %>
            </div>
        <% end %>

        <div class="col-lg-12">
        <h3>
            <a href="/rosters/new">New Roster</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/rosters/<%= current_user.id %>/edit">Edit Roster</a>
            </h3>
    <form action="/rosters/<%= current_user.id %>/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Roster">
    </form>