<h1><strong><%= current_user.username %>'s</strong> current roster.</h1>
<h2>Your Champions</h2>
<div class="flash-messages">
    <% if flash[:error] %>
        <%= flash[:error]  %>
    <% elsif flash[:success] %>
        <%= flash[:success]  %>
    <% end %>
</div>




    <a href="/roster/<%= current_user.id %>/edit">Edit Roster</a>
    <form action="/roster/<%= current_user.id %>/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Roster">
    </form>