<h1>Class Types</h1>
<div class="row">
<% @klasses.each do |klass| %>
    <div class="col-lg-5 class-item">
    
        <a href="/classes/<%= klass.id %>">
        <img src="/images/class images/(<%= klass.name %>).webp" style="width: 3vw">
        <h2><%= klass.name %></h2></a>
        <strong>Strong Against:</strong> <%= klass.class_bonus %>
        <br> 
        <strong>Weak Against:</strong>   <%= klass.class_weakness %>   
        <p>
        <strong>Description:</strong> 
        <%= klass.description %>
        </p>
    </div>
    <% end %>
    </div>
</div>

