<h1>Class Types</h1>
<% @klasses.each do |klass| %>
    <div class="class-item">
        <img src="/images/class images/(<%= klass.name %>).webp" style="width: 3vw">
        <h3><%= klass.name %></h3>
        <strong>Strong Against:</strong> <%= klass.class_bonus %>
        <br> 
        <strong>Weak Against:</strong>   <%= klass.class_weakness %>   
        <p>
        <strong>Description:</strong> 
        <%= klass.description %>
        </p>
    </div>
<% end %>
</div>

