<h1>Class Types</h1>
<% @klasses.each do |klass| %>
    <div class="class-item">
        <img src="/images/class images/(<%= klass.name %>).webp">
        <h3><%= klass.name %></h3>
        <br>
        <strong>Strong Against:</strong> <%= klass.class_bonus %>
        <br> 
        <strong>Weak Against:</strong>   <%= klass.class_weakness %>    
        <p><%= klass.description %>
        </p>
    </div>
<% end %>
</div>

